@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap");
:root {
  --primary: #9747ff;
  --accent: #4d2c78;
  --dark: var(--accent);
  --light: #d4b2ff;
  --lightest: #d4b2ff5e;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body,
html {
  padding: 0px;
  margin: 0px;
}
h1,
button {
  font-family: "Space Grotesk", sans-serif;
}
h2,
h3,
h4,
p,
li,
ul,
summary,
details {
  font-family: "Inter", sans-serif;
}
a {
  color: var(--primary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.anchorjs-link {
  transition: all 0.2s;
}
*:hover > .anchorjs-link {
  margin-left: -1.125em !important;
}
::selection {
  color: white;
  background: var(--primary);
}
.notice {
  border: 1px solid var(--primary);
  padding: 12px 15px;
  border-radius: 4px;
}
input {
  width: 100%;
  border: 1px solid var(--primary);
  padding: 8px 11px;
  border-radius: 3px;
  font-family: monospace;
}
.input-big {
  padding: 11px 15px;
  border-radius: 3.5px;
  font-size: 14px;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lightest);
  padding: 5%;
  flex-direction: column;
  padding-top: calc(5% + 57px) !important;
}

.hero h1 {
  font-size: 56px;
  max-width: 500px;
  text-align: center;
  margin-bottom: 10px;
}

.hero p {
  margin-bottom: 34px;
  font-size: 30px;
  text-align: center;
}

.badge {
  padding: 1px 9px 6px 9px;
  background-color: var(--primary);
  border-radius: 500px;
  color: white;
  transform: rotate(-5.5deg) translateY(-6px);
  display: inline-block;
  border: 2.5px solid white;
  font-size: 36px;
  -webkit-box-shadow: 0px 0px 0px 6px var(--primary),
    5px 4px 0px 7px var(--accent);
  box-shadow: 0px 0px 0px 6px var(--primary), 0px 0px 0px 7.5px white,
    5px 4px 0px 7px var(--accent);
  margin-right: 10px;
  margin-left: 5px;
}
.badge:hover {
  animation: badgetwinkle 1s;
  cursor: help;
}
.blink {
  animation: blink 1s steps(1, end) 0s infinite;
}
.primary-button {
  display: flex;
  padding: 12px 24px;
  align-items: center;
  border: 2px solid #000;
  border-radius: 30px;
  background-color: var(--primary);
  box-shadow: 3px 3px 0 0 #031926;
  transition: all 200ms ease;
  font-family: "Space Grotesk", sans-serif;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
.primary-button:hover {
  box-shadow: none;
  -webkit-transform: translate(4px, 4px);
  -ms-transform: translate(4px, 4px);
  transform: translate(4px, 4px);
  text-decoration: none;
}
@keyframes blink {
  70% {
    opacity: 0;
  }
}
@keyframes badgetwinkle {
  0% {
    transform: rotate(-5.5deg) translateY(-6px);
  }
  19% {
    transform: rotate(5.5deg) translateY(-6px);
  }
  35% {
    transform: rotate(-5.5deg) translateY(-6px);
  }
  55% {
    transform: rotate(5.5deg) translateY(-6px);
  }
  100% {
    transform: rotate(-5.5deg) translateY(-6px);
  }
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: var(--dark);
  font-family: "Inter", sans-serif;
  margin-top: 30px;
  border-top: 2px dashed var(--primary);
  padding-top: 40px;
}

.features div {
  width: 200px;
  margin: 20px;
  text-align: center;
  flex: 1 0 25%;
}

.features div iconify-icon {
  font-size: 45px;
  border-radius: 500px;
  background-color: var(--light);
  padding: 20px;
  height: auto;
}

.features div h3 {
  font-size: 24px;
  color: var(--dark);
  margin-bottom: 10px;
}

.features div p {
  font-size: 18px;
  color: var(--dark);
  margin-bottom: 20px;
}

body {
  margin: 0px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: #fff;
  font-family: "Inter", sans-serif;
  z-index: 9173613;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: saturate(180%) blur(5px);
  color: black !important;
  border-bottom: 1px solid #00000038;
}

.navbar .logo {
  color: black;
  text-decoration: none;
}
.logo img {
  width: 100px;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 10px;
  margin-left: auto;
  margin-right: 0px;
}

.navbar ul li a {
  color: black;
  text-decoration: none;
}
.body {
  padding: 3em;
  flex-direction: row-reverse;
}
@media screen and (max-width:800px) {
  .body {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (max-width:470px) {
  .body .b {
    display: none;
  }
  .hero h1 {
    font-size: 40px;
  }
  span.badge {
    font-size: 26px;
}
  .hero p {
    font-size: 17px;
}
  div.hero {
    padding-top: calc(5% + 70px) !important;
}
  .sc {
    display: none;
  }
}
.body > h2 {
  font-size: 30px;

  font-family: "Space Grotesk", sans-serif;
}
.body p {
  font-family: "Inter", sans-serif;
}
.big {
  background-color: var(--primary);
  padding: 5em;
}
.big h2 {
  letter-spacing: -0.075ch;
  font-size: 30px;
  font-family: Inter, sans-serif;
  margin: 0px;
  color: white;
  font-weight: 700;
}
.footer-copy {
  background-color: var(--primary);
  margin-top: -1px;
  color: white;
  padding: 0px 20px 24px 20px;
  text-align: center;
}
.body .b img {
  width: 370px;
  pointer-events: none;
  display: block;
  transform: rotate(-2deg);
}

.body {
  display: flex;
  gap: 50px;
  align-items: stretch;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: black;
  border-radius: 500px;
  border: 3px solid white;
}
